*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image:url("../projects/videos/coffee.jpg");
    background-size:cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.navbar.title{
    color:#fff;
    font-size: 100px;
    font-weight:bold;
    cursor: pointer;
}
span{
    color: crimson;
}
.navbar p{
    position: absolute;
    margin-top: 60px;
    margin-left: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px ;
}
.menu li a:hover{
    color: crimson;
    padding: 5px 5px;
}
.home{
    height: 400px;
    padding: 70px;
}
.title-1{
    font-size: 56px;
    color: #fff;
    font-weight: 600;
}
.home p{
    color: lemonchiffon;
    font-size: 20px;
    padding-top: 10px;
}
.home button{
    height: 40px;
    color: #fff;
    background: crimson;
    font-size: 22px;
    padding: 5px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: -4s ease;
    cursor: pointer;
}
.home button:hover{
    background: none;
    border: 2px solid crimson;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 2.2rem;
    text-transform: uppercase;
    cursor: pointer;
}
.products-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 1.5rem;
    margin-top: 2rem;
    margin-left: 6%;
    cursor: pointer;
}
 .products-container .box{
    width:70%;
    height: 350px;
    position: relative;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3rem;
    background:wheat;
    box-shadow: var(--box-shadow);
} 
 .products-container img{
    width: 85%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background:#fff;
    border-radius: 0.5rem;
} 
.products-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;
}
.products-container .box .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.products-container .box .content button{
    padding: 0 1rem;
    color: white;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}
.products-container .box .content a{
    padding: 0 1rem;
    color: black;
    background-color: white;
    border: 2px solid orange;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
}
.container1{
    max-width: 1170px;
    margin: auto;
   }
   .row{
    display: flex;
    flex-wrap: wrap;
   }
   .row1{
    display: flex;
    justify-content: end;
   }
   ul{
    list-style: none;
   }

.footer{
    background-color: #0b0b0ce7;
    padding:40px 0;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 19px;
    color: #f4efef;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: bolder;
    position: relative;
    left:1%;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#fdf8f8;
    text-decoration: none;
    font-weight: 300;
    color:#f2eeee;
    display: block;
    transition: all 0.3s ease;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(248, 240, 240, 0.9);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #0a0909;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#e9ebed;
    background-color: #131212;
}
.videos{
display: flex;  
justify-content: space-around;
align-items: center;
list-style: none;  
cursor: pointer;
}